In [37]:
import pandas as pd

In [65]:
data = pd.read_excel("Transactions Jan-21.xlsx", sheet_name="Sheet1", usecols= ["Product ID", "Client", ])

In [66]:
data.head()

,Trade Date,Type,Exchange ID,Exchange,Product ID,Product Name,Group,Sub Group,Contract,Expiry Date,...,MiscCUR,CLRMktFee,CLRMktCUR,CLRCommFee,CLRCommCUR,CLRNFAFee,CLRNFAFeeCUR,CLRMiscFee,CLRMiscCUR,Exch. Date
0,2021-01-04,T,16,CHICAGO MERCANTILE EXCH IMM,BP,MAR 21 IMM GBP,FX,Majors,2021-03-01 05:30:10,2021-03-15 05:30:10,...,USD,8.16,USD,0.48,USD,0.0,USD,0,USD,2021-01-04 05:30:10
1,2021-01-04,T,16,CHICAGO MERCANTILE EXCH IMM,BP,MAR 21 IMM GBP,FX,Majors,2021-03-01 05:30:10,2021-03-15 05:30:10,...,USD,6.46,USD,0.38,USD,0.0,USD,0,USD,2021-01-04 05:30:10
2,2021-01-04,T,16,CHICAGO MERCANTILE EXCH IMM,BR,FEB 21 IMM BRL,FX,Majors,2021-02-01 05:30:10,2021-01-29 05:30:10,...,USD,9.18,USD,0.54,USD,0.0,USD,0,USD,2021-01-04 05:30:10
3,2021-01-04,T,16,CHICAGO MERCANTILE EXCH IMM,C1,MAR 21 IMM CAD,FX,Majors,2021-03-01 05:30:10,2021-03-16 05:30:10,...,USD,0.34,USD,0.02,USD,0.0,USD,0,USD,2021-01-04 05:30:10
4,2021-01-04,T,16,CHICAGO MERCANTILE EXCH IMM,EC,MAR 21 IMM EURO FX,FX,Majors,2021-03-01 05:30:10,2021-03-15 05:30:10,...,USD,2.04,USD,0.12,USD,0.0,USD,0,USD,2021-01-04 05:30:10

In [55]:
data.fillna(0)

,Row Labels,17,21,25,26,27,28,37,39,3Y,...,SF,SO,T2,T3,UL,W-,XT,YM,YT,Grand Total
0,EE001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8.0,1335.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8057
1,EE002,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1973.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4923
2,EE003,0.0,0.0,0.0,88.0,0.0,0.0,0.0,0.0,0.0,...,533.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14202
3,EE004,0.0,2349.0,0.0,10629.0,0.0,0.0,2.0,48.0,0.0,...,25590.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,561359
4,EE005,0.0,276.0,0.0,328.0,0.0,0.0,0.0,0.0,0.0,...,4669.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,34626
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,EE241,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,281
97,EE242,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,420
98,EE300,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10495.0,1235.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,18398
99,EE302,0.0,0.0,0.0,0.0,227.0,20.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,459
100,Grand Total,335.0,6746.0,414.0,18811.0,4282.0,2291.0,308.0,92.0,196.0,...,450122.0,19824.0,68.0,51.0,2.0,168.0,629.0,20.0,864.0,2023642

In [58]:
data.drop([len(data)-1], inplace=True)

,17,21,25,26,27,28,37,39,3Y,41,...,SF,SO,T2,T3,UL,W-,XT,YM,YT,Grand Total
Row Labels,,,,,,,,,,,,,,,,,,,,,
EE001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.0,1335.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8057
EE002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1973.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4923
EE003,NaN,NaN,NaN,88.0,NaN,NaN,NaN,NaN,NaN,799.0,...,533.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14202
EE004,NaN,2349.0,NaN,10629.0,NaN,NaN,2.0,48.0,NaN,17110.0,...,25590.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,561359
EE005,NaN,276.0,NaN,328.0,NaN,NaN,NaN,NaN,NaN,2860.0,...,4669.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34626
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
EE225,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,861.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,947
EE241,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,281.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,281
EE242,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,420.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,420
EE300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10495.0,1235.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18398
EE302,NaN,NaN,NaN,NaN,227.0,20.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,459

In [61]:
data.fillna(0)

,Row Labels,17,21,25,26,27,28,37,39,3Y,...,SF,SO,T2,T3,UL,W-,XT,YM,YT,Grand Total
0,EE001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8.0,1335.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8057
1,EE002,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1973.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4923
2,EE003,0.0,0.0,0.0,88.0,0.0,0.0,0.0,0.0,0.0,...,533.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14202
3,EE004,0.0,2349.0,0.0,10629.0,0.0,0.0,2.0,48.0,0.0,...,25590.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,561359
4,EE005,0.0,276.0,0.0,328.0,0.0,0.0,0.0,0.0,0.0,...,4669.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,34626
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,EE225,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,947
96,EE241,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,281
97,EE242,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,420
98,EE300,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10495.0,1235.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,18398
99,EE302,0.0,0.0,0.0,0.0,227.0,20.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,459

In [64]:
data.iloc[:, 1:].div(2)

,17,21,25,26,27,28,37,39,3Y,41,...,SF,SO,T2,T3,UL,W-,XT,YM,YT,Grand Total
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.0,667.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4028.5
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,986.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2461.5
2,NaN,NaN,NaN,44.0,NaN,NaN,NaN,NaN,NaN,399.5,...,266.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7101.0
3,NaN,1174.5,NaN,5314.5,NaN,NaN,1.0,24.0,NaN,8555.0,...,12795.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,280679.5
4,NaN,138.0,NaN,164.0,NaN,NaN,NaN,NaN,NaN,1430.0,...,2334.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17313.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,430.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,473.5
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,140.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,140.5
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,210.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,210.0
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5247.5,617.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9199.0
99,NaN,NaN,NaN,NaN,113.5,10.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,229.5